@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
  color: #333;
}

a:hover {
  background: gray !important;
  color: white !important;
}

.login-page {
  background: url('../img/login_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-box {
  width: 320px;
  height: 420px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  color: #333;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-header {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 1.75rem;
}

.login-textbox {
  border-bottom: 1px solid #4484ce;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.login-input {
  border: none;
  outline: none;
  padding: 2px;
}

.login-btn {
  margin-top: 30px;
  width: 100%;
  border: none;
  background-color: #4484ce;
  color: white;
  border-radius: 5px;
  padding: 10px 0;
}

.navbar {
  background-color: #4484ce !important;
  color: white;
}

.illustration {
  width: 100%;
}

.karyawan-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.absen-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#timestamp {
  display: inline-block;
}

.fa-fingerprint {
  font-size: 6rem;
  color: white;
}

.fa-fingerprint:hover {
  color: #333;
}

.btn-absen {
  border: none;
  background-color: transparent;
}

.absen-card {
  background-color: #4484ce;
  color: white;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.navbar-toggle {
  padding: 15px 10px;
  background: #fff !important;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.btn-toggle {
  background: #4484ce;
  color: white;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: white;
  color: white;
  transition: all 0.3s;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 30px 20px 20px 20px;
  background: #4484ce;
}

#sidebar ul.components {
  padding: 20px 10px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #4484ce;
  background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #333;
  background: white;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: white;
}

a.article,
a.article:hover {
  background: #4484ce !important;
  color: #fff !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
  }

  #content.active {
    width: calc(100% - 250px);
  }

  #sidebarCollapse span {
    display: none;
  }
}