@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.login-page {
  background: url('../img/login_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-box {
  width: 320px;
  height: 420px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  color: #333;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-header {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 1.75rem;
}

.login-textbox {
  border-bottom: 1px solid #4484ce;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.login-input {
  border: none;
  outline: none;
  padding: 2px;
}

.login-btn {
  margin-top: 30px;
  width: 100%;
  border: none;
  background-color: #4484ce;
  color: white;
  border-radius: 5px;
  padding: 10px 0;
}

.navbar {
  background-color: #4484ce !important;
  color: white;
}

.illustration {
  width: 100%;
}

.karyawan-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red !important; */
}

.absen-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#timestamp {
  display: inline-block;
}

.fa-fingerprint {
  font-size: 6rem;
  color: white;
}

.fa-fingerprint:hover {
  color: #333;
}

.btn-absen {
  border: none;
  background-color: transparent;
}

.absen-card {
  background-color: #4484ce;
  color: white;
}